In [1]:
"""
Hello everyone!!
This is how I can write a 
multi line statement
"""

'\nHello everyone!!\nThis is how I can write a \nmulti line statement\n'

### Complex Numbers

In [2]:
c = 55 + 7j

In [3]:
c

(55+7j)

In [4]:
type(c)

complex

In [6]:
c.real

55.0

In [9]:
c.imag

7.0

In [11]:
c.real, c.imag

(55.0, 7.0)

In [10]:
type(c.real), type(c.imag)

(float, float)

In [12]:
d=7j

In [13]:
d

7j

In [14]:
d.imag

7.0

In [15]:
d.real

0.0

<b><i><u>HELLO</u></i></b>

In [16]:
_ = 5  #Variable name '_' is a valid varibale

In [17]:
_

5

In [18]:
__=8

In [20]:
__

8

In [21]:
name = 'pranshu'

In [22]:
name

'pranshu'

In [23]:
name = """pra'n'shu"""

In [24]:
name

"pra'n'shu"

In [30]:
statement = """My name is Pranshu Bansal
I am 18 years old. :)
"""

In [31]:
statement

'My name is Pranshu Bansal\nI am 18 years old. :)\n'

In [32]:
print(statement)

My name is Pranshu Bansal
I am 18 years old. :)

## Conditional Statements

In [34]:
# Indentation is important in python :)

a=6
if a==6 :
    print("Condition Satisfied")
    print("YY")

print("Outside If")

Condition Satisfied
YY
Outside If

In [35]:
b=10

if b>5:
    if b==7:
        print("b is 7")
    else:
        print("b is 10")

b is 10

In [36]:
b

10

In [37]:
b=complex(b)

In [38]:
b

(10+0j)

In [39]:
type(b)

complex

In [44]:
r = 11  + 7j

In [45]:
inn = float(r)   # Complex numbers cannot be converted into int or float

TypeError: can't convert complex to float

In [48]:
t = "hello"
lh = "123"

In [53]:
# fl = float(t)   # Cannot convert strings like "hello" into float, but if we put a no into string, that can be converted into int/float
lh = float(lh)

In [54]:
lh

123.0

In [61]:
# Whenever you start a no with 0, variable expects a flag which determines which type of number variable with start
# 0b -> binary number
# 0o -> octal number
# 0x -> hexadecimal number

# Therefore, a decimal number cannot start with 0. It will give error (Invalid Token)

In [62]:
b = 0b1010

In [63]:
b

10

In [67]:
o = 0o255

In [68]:
o

173

In [71]:
h=0xFAB

In [73]:
h

4011

In [76]:
h=0xFFF

In [77]:
h

4095

In [43]:
a=0

if a:
    print("Yes")
else:
    print("No")

No

In [47]:
a=None

if a:
    print(a)
else:
    print(10)

10

In [48]:
a=2

a**=4

In [49]:
a

16

In [50]:
a%=4

In [51]:
a

0

In [52]:
a+=50
a

50

In [56]:
not True

False

In [57]:
0 or 0

0

In [58]:
0 or True

True

In [59]:
True and False

False

In [60]:
5 and 2

2

In [61]:
5 or 2

5

In [62]:
5 and 0

0

In [63]:
0 and 4

0

In [64]:
2

2

In [65]:
2 and 3

3

In [66]:
5 and 2 and 9

9

In [67]:
6 and 8 and 0

0

In [68]:
6 or 7 and 0

6

In [70]:
7 and 6 or 2

6

In [71]:
5 and 2 and "hello"

'hello'

In [72]:
5 and 2 and ""

''

In [73]:
1.9 and 2

2

In [74]:
2 and 1.9

1.9

In [75]:
5 and 2 or 6

2

In [76]:
5 or 2 and 8

5

In [77]:
5 or 2 and 0

5

In [78]:
0 or 5 and 0

0

In [79]:
0 or 6 and 7

7

In [81]:
 not False

True

In [83]:
a=10

if a==1:
    a+=1
elif a==2:
    a+=2
else:
    a+=50
    
a

60

In [88]:
i=1

while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [92]:
i=1

while i<=10:
    print(i,end="  ")
    i+=1

1  2  3  4  5  6  7  8  9  10

In [93]:
print("hello","world")

hello world

In [96]:
print("hello","world",sep="   ")

hello   world

In [100]:
n=5
row=0

while row<n:
    col=0
    while col<row :
        print("*",end="")
        col+=1
    print()
    row+=1

*
**
***
****

In [101]:
line = "hello"

for ch in line:
    print(ch)

h
e
l
l
o

In [103]:
i=1

while i<=5:
    j=1
    
    while(j<=i):
        print(j,end="")
        j+=1
    print()
    i+=1

1
12
123
1234
12345

In [108]:
i = range(15)

for it in i:
    print(it,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [112]:
i=range(23,15)

for it in i:
    print(it,end=" ")

In [113]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<b> RANGE IS IMMUTATBLE, ITERABLE AND INDEXIBLE</b>

<h1> FUNCTIONS </h1>

In [114]:
def add(a,b):
    return a+b

In [115]:
add(6,7)

13

In [116]:
r=add(5,10)

In [117]:
r

15

In [118]:
a=10
b=20

def swap(a,b):
    t=a
    a=b
    b=t

In [119]:
swap(a,b)

In [120]:
a

10

In [121]:
b

20