In [1]:
a=6

In [4]:
if True:    # if we write "if False", b will never be initialised
    b=7
    
print(a,b,sep="\n")

6
7

In [5]:
if True:    # if we write "if False", b will never be initialised
    b=7
    a=10
    
print(a,b,sep="\n")

10
7

In [6]:
r=range(10,20,5)

In [7]:
for item in r:
    print(item)

10
15

In [8]:
item

15

In [9]:
i=0

while i<=5:
    j=0
    while j<=i:
        print(j,end=" ")
        j=j+1
    i=i+1
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [15]:
print(c, d)

None None

In [ ]:
a=5
b=7

In [ ]:
a

In [19]:

b

7

In [20]:
def say_hello():
    print("Hello")
    print("HI")

In [22]:
say_hello();

Hello
HI

In [23]:
out = say_hello();
print(out)

Hello
HI
None

In [27]:
def isPrime(num):
    for n in range(2,num):
        if num%n==0:
            return False
    
    return True

In [34]:
result = isPrime(16)

In [35]:
print(result)

False

In [101]:
n=int(input())
i=1

while i<=n:
    stars=n-i+1
    while stars>=1:
        print("*",end=" ")
        stars=stars-1
    
    space=1
    while space<=2*(i-1)-1:
        print(" ",end=" ")
        space=space+1
        
    stars1=n-i+1
    while stars1>=1:
        if stars1==n:
            stars1=stars1-1
        else:
            print("*",end=" ")
            stars1=stars1-1
        
    i=i+1
    print()
    
i=n-1

while i>=1:
    stars=n-i+1
    while stars>=1:
        print("*",end=" ")
        stars=stars-1
    
    space=1
    while space<=2*(i-1)-1:
        print(" ",end=" ")
        space=space+1
        
    stars1=n-i+1
    while stars1>=1:
        if stars1==n:
            stars1=stars1-1
        else:
            print("*",end=" ")
            stars1=stars1-1
        
    i=i-1
    print()

 7

* * * * * * * * * * * * *
* * * * * *   * * * * * *
* * * * *       * * * * *
* * * *           * * * *
* * *               * * *
* *                   * *
*                       *
* *                   * *
* * *               * * *
* * * *           * * * *
* * * * *       * * * * *
* * * * * *   * * * * * *
* * * * * * * * * * * * *

In [45]:
def square(x):
    return x*x

def generic_op(item,op)
    return op(item)

In [46]:
generic_op(10,square)

100

In [ ]:
sq = lambda x : x*x

In [50]:
square

In [51]:
sq

NameError: name 'sq' is not defined

In [52]:
list("happy")

['h', 'a', 'p', 'p', 'y']

<h1> LIST IS </h1>

<ol>
    <li> Mutable</li>
    <li> Iterable</li>
    <li> Indexable</li>
</ol>

In [53]:
li =[10,20,30,40]

In [54]:
li

[10, 20, 30, 40]

In [55]:
fruits = ["Apple","Mango","Grapes"]

In [56]:
fruits

['Apple', 'Mango', 'Grapes']

In [57]:
fruits.append("Guava")

In [58]:
fruits

['Apple', 'Mango', 'Grapes', 'Guava']

In [59]:
another = fruits.copy()

In [60]:
another

['Apple', 'Mango', 'Grapes', 'Guava']

In [61]:
second = fruits

In [62]:
second

['Apple', 'Mango', 'Grapes', 'Guava']

In [63]:
fruits.count

In [65]:
fruits.count("Apple")

1

In [69]:
fruits.extend(["Cheeku","Aam"])

In [70]:
fruits

['Apple',
 'Mango',
 'Grapes',
 'Guava',
 'C',
 'h',
 'e',
 'e',
 'k',
 'u',
 'Cheeku',
 'Aam']

In [71]:
fruits.pop(4)

'C'

In [72]:
fruits

['Apple', 'Mango', 'Grapes', 'Guava', 'h', 'e', 'e', 'k', 'u', 'Cheeku', 'Aam']

In [79]:
fruits.pop(4)

'Cheeku'

In [80]:
fruits

['Apple', 'Mango', 'Grapes', 'Guava', 'Aam']

In [97]:
first = [1,2,3]
second = [7,8,9]

In [99]:
outer = [first,second]

In [100]:
outer

[[1, 2, 3], [7, 8, 9]]

In [102]:
another = outer.copy()

In [103]:
id(another),id(outer)

(2652151485000, 2652151674888)

In [105]:
id(another[0]),id(outer[0])

(2652151643720, 2652151643720)

In [106]:
first =(10,20)
second = (7,8)

In [107]:
first

(10, 20)

In [109]:
tup = (first,second)

In [110]:
tup

((10, 20), (7, 8))

In [111]:
tup[0].pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [114]:
li=[1,2,3,4]

a,b,c,d = li

In [115]:
b

2

In [116]:
d

4

In [122]:
first

(10, 20)

In [123]:
x=100
y=200

In [124]:
ans = x,y

In [125]:
type(ans)

tuple

In [126]:
y,x = (x,y)

In [127]:
y

100