<h1> FUNCTIONS </h1>

In [2]:
def add(a,b):
    return a+b

In [3]:
add(6,7)

13

In [4]:
r=add(5,10)

In [5]:
print(r)

15

In [6]:
a=10
b=20

In [7]:
def swap(a,b):
    t=a
    a=b
    b=t

In [8]:
swap(a,b)  #Local Variables

In [9]:
print(a,b)

10 20

In [18]:
def say_hello():
    print("Hello")
    print("HI")

In [19]:
def say_hello1():
    print("Hello Guys")
    print("HI")
    
    return

In [20]:
def say_hello2():
    print("Hello Bois")
    print("HI")
    
    return None

In [21]:
say_hello();

Hello
HI

In [22]:
say_hello1()

Hello Guys
HI

In [23]:
say_hello2()

Hello Bois
HI

In [30]:
out = say_hello1();   # None will always be printed in the last line for all the three functions. This means if we are not returning anything from the function, then the function return None
print(out)

Hello Guys
HI
None

In [32]:
# Function to check whether a no. is prime or not

def isPrime(num):
    for n in range(2,num):
        if num % n == 0:
            return False
    
    return True

In [33]:
result1 = isPrime(16)
result2 = isPrime(37)

print(result1, result2)

False True

In [34]:
n=int(input())
i=1

while i<=n:
    stars=n-i+1
    while stars>=1:
        print("*",end=" ")
        stars=stars-1
    
    space=1
    while space<=2*(i-1)-1:
        print(" ",end=" ")
        space=space+1
        
    stars1=n-i+1
    while stars1>=1:
        if stars1==n:
            stars1=stars1-1
        else:
            print("*",end=" ")
            stars1=stars1-1
        
    i=i+1
    print()
    
i=n-1

while i>=1:
    stars=n-i+1
    while stars>=1:
        print("*",end=" ")
        stars=stars-1
    
    space=1
    while space<=2*(i-1)-1:
        print(" ",end=" ")
        space=space+1
        
    stars1=n-i+1
    while stars1>=1:
        if stars1==n:
            stars1=stars1-1
        else:
            print("*",end=" ")
            stars1=stars1-1
        
    i=i-1
    print()

 7

* * * * * * * * * * * * *
* * * * * *   * * * * * *
* * * * *       * * * * *
* * * *           * * * *
* * *               * * *
* *                   * *
*                       *
* *                   * *
* * *               * * *
* * * *           * * * *
* * * * *       * * * * *
* * * * * *   * * * * * *
* * * * * * * * * * * * *

In [35]:
def SI(p, t, r):
    return (p*r*t)/100

In [37]:
SI(100, 10, 10)

100.0

In [40]:
def SI(p, t, r=10):    # Default Parameter
    return (p*r*t)/100

In [41]:
SI(15,5)

7.5

In [42]:
SI(15,5,8)

6.0

In [45]:
SI(p = 1000, t = 1)  # Passing parameters according to name of argument . Hence, for this, the relative positioning in which we pass arguments does not matter

100.0

In [44]:
SI(t = 1, p = 1000)

100.0

In [51]:
SI(1000, t = 20)   # Calling funvtions like this is a valid methpod

# SI(t=10, 100) Calling funtion like this is invalid because positional argument follows keyword argument

2000.0

In [52]:
hello = print

In [53]:
hello("Didn't see that coming :>")

Didn't see that coming :>

In [55]:
print

In [56]:
hello

In [57]:
def square(x):
    return x*x

In [59]:
def generic_op(item,op):
    return op(item)

In [61]:
generic_op(25,square)

625

In [62]:
sq = lambda x : x*x   # Lambda Function

In [63]:
square

In [64]:
sq

In [66]:
list("happy")  # We need to pass an iterable to the list and it which convert that iterable itno that list

['h', 'a', 'p', 'p', 'y']

<h1> LIST IS </h1>

<ol>
    <li> Mutable</li>
    <li> Iterable</li>
    <li> Indexable</li>
</ol>

In [53]:
li =[10,20,30,40]

In [54]:
li

[10, 20, 30, 40]

In [55]:
fruits = ["Apple","Mango","Grapes"]

In [56]:
fruits

['Apple', 'Mango', 'Grapes']

In [57]:
fruits.append("Guava")

In [58]:
fruits

['Apple', 'Mango', 'Grapes', 'Guava']

In [59]:
another = fruits.copy()

In [60]:
another

['Apple', 'Mango', 'Grapes', 'Guava']

In [61]:
second = fruits

In [62]:
second

['Apple', 'Mango', 'Grapes', 'Guava']

In [63]:
fruits.count

In [65]:
fruits.count("Apple")

1

In [69]:
fruits.extend(["Cheeku","Aam"])

In [70]:
fruits

['Apple',
 'Mango',
 'Grapes',
 'Guava',
 'C',
 'h',
 'e',
 'e',
 'k',
 'u',
 'Cheeku',
 'Aam']

In [71]:
fruits.pop(4)

'C'

In [72]:
fruits

['Apple', 'Mango', 'Grapes', 'Guava', 'h', 'e', 'e', 'k', 'u', 'Cheeku', 'Aam']

In [79]:
fruits.pop(4)

'Cheeku'

In [80]:
fruits

['Apple', 'Mango', 'Grapes', 'Guava', 'Aam']

In [97]:
first = [1,2,3]
second = [7,8,9]

In [99]:
outer = [first,second]

In [100]:
outer

[[1, 2, 3], [7, 8, 9]]

In [102]:
another = outer.copy()

In [103]:
id(another),id(outer)

(2652151485000, 2652151674888)

In [105]:
id(another[0]),id(outer[0])

(2652151643720, 2652151643720)

In [106]:
first =(10,20)
second = (7,8)

In [107]:
first

(10, 20)

In [109]:
tup = (first,second)

In [110]:
tup

((10, 20), (7, 8))

In [111]:
tup[0].pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [114]:
li=[1,2,3,4]

a,b,c,d = li

In [115]:
b

2

In [116]:
d

4

In [122]:
first

(10, 20)

In [123]:
x=100
y=200

In [124]:
ans = x,y

In [125]:
type(ans)

tuple

In [126]:
y,x = (x,y)

In [127]:
y

100