### Operators

In [22]:
# +, -, /, *, **, //, %

In [5]:
# a**b -> a to the power b
# a//b -> Floor Division (Only returns the floor value and not the decimal part)

In [6]:
7/5, 7//5

(1.4, 1)

In [10]:
# In python, int/int is float

In [11]:
int(10 ** 2.5)

316

In [12]:
a=2

a**=4

In [13]:
a

16

In [14]:
a%=4

In [15]:
a

0

In [16]:
a+=50
a

50

In [19]:
3%-4

-1

### Comparison Operators

In [21]:
# ==, !=, <, >, <=, >=

In [23]:
1==6

False

In [24]:
True == 1

True

In [27]:
7 == True

False

In [28]:
0 == False

True

In [29]:
a=8

if a:
    print("YAY!!")

YAY!!

In [32]:
a=None    # Or a=0

if a:
    print("YAY!!")
else:
    print("NAY!!")

NAY!!

### Assignment Operators

In [33]:
# =, +=, -=, *=, /=, %=, **=

In [43]:
a = 2

In [44]:
a += 4
a

6

In [45]:
a*=6    # a = a*6
a

36

### Logical Operators

In [46]:
# not, and, or

In [51]:
not ""

True

In [52]:
not "t"

False

In [53]:
not True

False

In [55]:
True or 0

True

In [54]:
True or False, True and False

(True, False)

In [59]:
0 or 1, 0 or 0

(1, 0)

In [58]:
0 or True

True

In [60]:
6 or 7

6

In [62]:
5 and 2

2

In [63]:
5 or 2

5

In [64]:
5 and 0

0

In [65]:
0 and 4

0

In [66]:
2

2

In [67]:
2 and 3

3

In [68]:
5 and 2 and 9

9

In [70]:
6 and 8 and 0

0

In [71]:
6 or 7 and 0

6

In [72]:
7 and 6 or 2

6

In [73]:
5 and 2 and "hello"

'hello'

In [72]:
5 and 2 and ""

''

In [73]:
1.9 and 2

2

In [74]:
2 and 1.9

1.9

In [75]:
5 and 2 or 6

2

In [76]:
5 or 2 and 8

5

In [77]:
5 or 2 and 0

5

In [78]:
0 or 5 and 0

0

In [79]:
0 or 6 and 7

7

In [74]:
 not False

True

In [76]:
length = int(input("Enter length"))
breadth = int(input("Enter breadth"))

area = length*breadth
peri = 2*(length+breadth)

print(area, peri, sep="\n")

Enter length 15
Enter breadth 12

180
54

In [83]:
a=10

if a==1:
    a+=1
elif a==2:
    a+=2
else:
    a+=50
    
a

60

In [88]:
i=1

while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [92]:
i=1

while i<=10:
    print(i,end="  ")
    i+=1

1  2  3  4  5  6  7  8  9  10

In [93]:
print("hello","world")

hello world

In [96]:
print("hello","world",sep="   ")

hello   world

In [100]:
n=5
row=0

while row<n:
    col=0
    while col<row :
        print("*",end="")
        col+=1
    print()
    row+=1

*
**
***
****

In [101]:
line = "hello"

for ch in line:
    print(ch)

h
e
l
l
o

In [103]:
i=1

while i<=5:
    j=1
    
    while(j<=i):
        print(j,end="")
        j+=1
    print()
    i+=1

1
12
123
1234
12345

In [108]:
i = range(15)

for it in i:
    print(it,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [112]:
i=range(23,15)

for it in i:
    print(it,end=" ")

In [113]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<b> RANGE IS IMMUTATBLE, ITERABLE AND INDEXIBLE</b>

<h1> FUNCTIONS </h1>

In [114]:
def add(a,b):
    return a+b

In [115]:
add(6,7)

13

In [116]:
r=add(5,10)

In [117]:
r

15

In [118]:
a=10
b=20

def swap(a,b):
    t=a
    a=b
    b=t

In [119]:
swap(a,b)

In [120]:
a

10

In [121]:
b

20