## Control Flow Statements

In [1]:
# If, elif, else,

In [2]:
sal = int(input())

if sal > 5000:
    sal += 200
else:
    sal += 100

print(sal)

 5001

5201

In [6]:
x = int(input())

if x<0:
    sign = -1
elif x==0:
    sign = 0;
else:
    sign = 1
    
sign

 -8

-1

In [7]:
a=10

if a==1:
    a+=1
elif a==2:
    a+=2
else:
    a+=50
    
a

60

## Loops

In [8]:
i=1

while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [9]:
i=1

while i<=10:
    print(i,end="  ")
    i+=1

1  2  3  4  5  6  7  8  9  10

In [10]:
print("hello","world")

hello world

In [11]:
print("hello","world",sep="   ")

hello   world

In [12]:
n=5
row=0

while row<n:
    col=0
    while col<row :
        print("*",end="")
        col+=1
    print()
    row+=1

*
**
***
****

In [13]:
line = "hello"

for ch in line:
    print(ch)

h
e
l
l
o

In [15]:
i=1

while i<=5:
    j=1
    
    while(j<=i):
        print(j,end="")
        j+=1
    print()
    i+=1

1
12
123
1234
12345

In [16]:
range(9)

range(0, 9)

In [17]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
list(range(3,9))

[3, 4, 5, 6, 7, 8]

In [20]:
list(range(5,2)), list(range(3,3))

([], [])

In [24]:
list(range(9,2,-2))

[9, 7, 5, 3]

In [25]:
a = range(20,2,-2)
print(a[2])

16

In [26]:
i = range(15)

for it in i:
    print(it,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [27]:
i=range(23,15)

for it in i:
    print(it,end=" ")

In [28]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<b> RANGE IS IMMUTATBLE, ITERABLE AND INDEXIBLE</b>