<h1> LIST</h1>

List is

<ol>
    <li> Mutable</li>
    <li> Iterable</li>
    <li> Indexable</li>
</ol>

In [1]:
li =[10,20,30,40]

In [2]:
li

[10, 20, 30, 40]

In [9]:
fruits = ["Apple","Mango","Grapes"]

In [10]:
fruits

['Apple', 'Mango', 'Grapes']

In [11]:
fruits.append("Guava")  # append -> add new item at the end of the list

In [12]:
fruits

['Apple', 'Mango', 'Grapes', 'Guava']

In [7]:
fruits.clear()

In [8]:
fruits

[]

In [21]:
another = fruits.copy()

In [22]:
second = fruits

In [23]:
another

['Apple', 'Mango', 'Grapes', 'Guava']

In [24]:
second

['Apple', 'Mango', 'Grapes', 'Guava']

In [18]:
# Difference between second and another is that in another, by fruits.copy(), we are creating a seperate object having same values as fruits. But in the case of second, second is pointing to
# the same object as fruits. Hence, if we make any change in another, change will not be reflected in fruits. However, if we make changes in second, it would be reflected in fruits as well.

In [25]:
second.append("litchi")

In [27]:
second, fruits

(['Apple', 'Mango', 'Grapes', 'Guava', 'litchi'],
 ['Apple', 'Mango', 'Grapes', 'Guava', 'litchi'])

In [29]:
fruits.count("Apple")

1

In [35]:
fruits.extend("Cheeku")  # .extend() takes an iterable. When we pass "cheeku" to extend, it will add cheeku in the fruits list letter by letter

In [36]:
fruits

['Apple', 'Mango', 'Grapes', 'Guava', 'litchi', 'C', 'h', 'e', 'e', 'k', 'u']

In [37]:
fruits.extend(["Cheeku"])  # But if we give cheeku as an element of a list, then it will add cheeku as a complete word in the list

In [38]:
fruits

['Apple',
 'Mango',
 'Grapes',
 'Guava',
 'litchi',
 'C',
 'h',
 'e',
 'e',
 'k',
 'u',
 'Cheeku']

In [39]:
fruits.extend(["Cheeku","Aam"])

In [50]:
fruits.extend([88])  # 88 is itself not an iterable, but a list of integers is iterable. By this way, we can add integers in the list

In [51]:
fruits

['Apple',
 'Mango',
 'Grapes',
 'Guava',
 'litchi',
 'C',
 'h',
 'e',
 'e',
 'k',
 'u',
 'Cheeku',
 'Cheeku',
 88]

In [52]:
fruits.pop()  # By default, .pop() will delete the last element of the list

88

In [53]:
fruits.pop(4) # But, we can also give the index at which we need to pop a particular element

'litchi'

In [54]:
fruits

['Apple',
 'Mango',
 'Grapes',
 'Guava',
 'C',
 'h',
 'e',
 'e',
 'k',
 'u',
 'Cheeku',
 'Cheeku']

In [55]:
fruits.pop(4)

'C'

In [56]:
fruits

['Apple',
 'Mango',
 'Grapes',
 'Guava',
 'h',
 'e',
 'e',
 'k',
 'u',
 'Cheeku',
 'Cheeku']

In [57]:
fruits[0] = "Kela"

In [59]:
fruits  # Hence, list is mutable :)

['Kela',
 'Mango',
 'Grapes',
 'Guava',
 'h',
 'e',
 'e',
 'k',
 'u',
 'Cheeku',
 'Cheeku']

### Slicing

In [60]:
arr = [1, 2, 3, 4, 5, 6, 7, 8]

In [61]:
arr

[1, 2, 3, 4, 5, 6, 7, 8]

In [67]:
arr[3]

4

In [73]:
arr[2:5]   # To get elements from index-2 to index-4 (index-5 will not be included)

[3, 4, 5]

In [74]:
string = "abcd"

In [76]:
string[1:3]  # Slicing in string

'bc'

In [81]:
arr1 = arr[:]  # To get the complete array
# This statement is equivalent to arr[0: len(arr)]

In [82]:
arr1

[1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
# Slicing returns the copy of the array and not the reference of the array

In [85]:
arr[:5]  # To get the starting 5 elements of the array

[1, 2, 3, 4, 5]

In [87]:
arr[2:]  # To get elements from index 2 to len(arr)-1

[3, 4, 5, 6, 7, 8]

In [89]:
arr[0:5:2] # Get elements of arr with a step of 2, that means get alternate elements of arr in the range [0,5)

[1, 3, 5]

In [91]:
arr[:len(arr):2]

[1, 3, 5, 7]

In [93]:
arr[::]   # Takes the default value of every parameter

[1, 2, 3, 4, 5, 6, 7, 8]

In [95]:
arr[-5:]   # To get the last 5 elements

[4, 5, 6, 7, 8]

In [98]:
arr[-2]

7

In [99]:
arr[0:-5]

[1, 2, 3]

In [100]:
arr[0: len(arr)-5]

[1, 2, 3]

### Nested Listing

In [101]:
first = [1,2,3]
second = [7,8,9]

In [102]:
outer = [first,second]

In [103]:
outer

[[1, 2, 3], [7, 8, 9]]

In [104]:
another = outer.copy()

In [105]:
id(another),id(outer)

(1699717594952, 1699717604296)

In [106]:
id(another[0]),id(outer[0])

(1699717744072, 1699717744072)

In [107]:
id(first), id(another[0]),id(outer[0])

(1699717744072, 1699717744072, 1699717744072)

In [108]:
another[1] = [111, 555]

In [111]:
another

[[1, 2, 3], [111, 555]]

In [112]:
outer

[[1, 2, 3], [7, 8, 9]]

In [113]:
outer1 = [first, second]
another1 = outer1.copy()

In [114]:
another1.insert(1, [111, 555])

In [115]:
another1

[[1, 2, 3], [111, 555], [7, 8, 9]]

In [116]:
outer1

[[1, 2, 3], [7, 8, 9]]

In [106]:
first =(10,20)
second = (7,8)

In [107]:
first

(10, 20)

In [109]:
tup = (first,second)

In [110]:
tup

((10, 20), (7, 8))

In [111]:
tup[0].pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [114]:
li=[1,2,3,4]

a,b,c,d = li

In [115]:
b

2

In [116]:
d

4

In [122]:
first

(10, 20)

In [123]:
x=100
y=200

In [124]:
ans = x,y

In [125]:
type(ans)

tuple